:root {
    --radius: .3em;
    --sideSize: 2.5em;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Comic Sans MS, Arial;
    display: block;
    background: #000e21;
}

#app {
    display: flex;
    height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
}

.app-player {
    display: block;
    /*max-height: 50vh;*/
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    padding: .5em;
    padding-bottom: 1.5em;
    /*background: url("img/wood.jpg");*/
    /*background-size: contain;*/

}

.health {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;
    width: 100%;
    height: 6rem;
    border: 1px solid #000;
    border-radius: var(--radius);
    overflow: hidden;
    background: rgb(173, 42, 24);
    margin-bottom: 1em;
    position: relative;
}

.health__count {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%);
}

.health__bar {
    width: 100%;
    height: 100%;
    background: rgb(84, 173, 24);
    transition: width .3s;
    font-size: 2em;
    font-weight: bold;
    text-shadow: #000;
}

.buttons {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    flex-wrap: wrap;

    padding: 1em;
    border-radius: calc(var(--sideSize) / 2);
    border: 2px outset #eee;
}

.buttons__button {
    color: white;
    height: var(--sideSize);
    width: var(--sideSize);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: calc(var(--sideSize) / 2);
    box-shadow: inset 3px 3px 7px rgba(255, 255, 255, .5), 1px 1px 1px rgba(0, 0, 0, .5);
    user-select: none;
    cursor: pointer;
}

.buttons__button:not(:last-child){
    margin-right: .5rem;
}

.buttons__button--attack {
    background: rgb(173, 42, 24);
}

.buttons__button--attack:active,
.buttons__button--heal:active {
    background: white;
    color: red;
}

.buttons__button--heal {
    color: white;
    background: rgba(217, 226, 150, 0.5);
}


.life {
    border-radius: var(--radius);
    padding: .5em;
    background: #77898c;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.life button {
    margin-top: .5em;
}